<% @secrets.each do |secret| %>
    <h3><%= secret.content%></h3>
    <h3><%= secret.likes.count%> likes</h3>
    <% if current_user == secret.user %>
        <form action="/secrets/<%= secret.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Delete Secret">
        </form>
    <% end %>
    <% if secret.users.include?(current_user)%>
        <form action="/likes/<%= Like.where(user: current_user,secret: secret).first.id%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="Unlike" value="Unlike">
        </form>
    <% else%>
        <form action="/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" name="Like" value="Like">
          <input type="hidden" name="like[secret_id]" value="<%= secret.id%>">
        </form>
    <% end%>
<% end %>